<md-sidenav-layout>

  <md-sidenav #sidenav mode="side" class="app-sidenav">
    Sidenav
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    {{title}}
    <span class="app-toolbar-filler"></span>
  </md-toolbar>

  <div class="app-content">
    <md-card>
      <md-input [(ngModel)]="title">
        <md-placeholder>
          <i class="material-icons app-input-icon">mode_edit</i> Title
        </md-placeholder>
      </md-input>
      <br>
      <button md-raised-button color="accent">Button</button>
    </md-card>
  </div>

</md-sidenav-layout>

